*{
padding: 0;
margin: 0;
list-style: none;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  background-color: rgb(87,3,120);
  height: 50px;
}

.navbar-left{
  font-size: 30px;
}
.navbar-right{
  cursor: pointer;
}

.Google{
  text-align: center;
  height: 56px;
  width: 100%;
  border-radius: 12px;
  background: rgb(189, 188, 188);
  align-items: center;
  display: flex; justify-content: center;
}

.google-svg{
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

.Google p{
  color: #fff;
  font-weight: 400x;
  font-size: 25p;
}

.kayit-ol{
margin:10px 0;

}
.kayit-ol p{
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}